In [129]:
import pandas as pd
import numpy as np

# v1.1 - wrote concatenate_program_details() function
# to create "Full name" column at end of csv

aps = pd.read_csv('data/AP cleaned (v3).csv')

In [130]:
# Function to concatenate the values with a space, ignoring NaN values
def concatenate_program_details(row):
    # List to hold the non-NaN values
    details = []
    for column in ['Program (Gender)', 'Program (Level)', 'Program (name)']:
        # Append the value if it is not NaN
        if pd.notna(row[column]):
            details.append(row[column])
    # Join the details with a space and return
    return ' '.join(details)

In [131]:
# Apply the function across the rows
aps['Full name'] = aps.apply(concatenate_program_details, axis=1)
# a random slicing to check
aps.iloc[29000:29010]

,Person ID,Gender code,Race/ethnicity,FA,Acad Yr (start),Code,Program (name),Program (Gender),Program (Level),Program (Season),Grade at Time of Activity,Grad year,Full name
29000,10104,M,European American (Caucasian),0,2016,S,Tennis,Boys,JV,Spring,10,2019,Boys JV Tennis
29001,17736,F,European American (Caucasian),0,2016,S,Tennis,Girls,Varsity,Spring,12,2017,Girls Varsity Tennis
29002,10140,M,Multiracial American,0,2016,S,Tennis,Boys,Varsity,Spring,11,2018,Boys Varsity Tennis
29003,10202,F,European American (Caucasian),0,2016,S,Tennis,Girls,Varsity,Spring,11,2018,Girls Varsity Tennis
29004,19588,M,European American (Caucasian),0,2016,S,Tennis,Boys,JV,Spring,12,2017,Boys JV Tennis
29005,10060,M,European American (Caucasian),0,2016,S,Tennis,Boys,JV,Spring,11,2018,Boys JV Tennis
29006,10035,M,European American (Caucasian),0,2016,S,Tennis,Boys,JV,Spring,10,2019,Boys JV Tennis
29007,10015,M,Multiracial American,0,2016,S,Tennis,Boys,JV,Spring,9,2020,Boys JV Tennis
29008,20795,M,Multiracial American,0,2016,S,Tennis,Boys,JV,Spring,12,2017,Boys JV Tennis
29009,10195,M,European American (Caucasian),0,2016,S,Tennis,Boys,JV,Spring,10,2019,Boys JV Tennis

In [132]:
# generate list of all unique program 'full name'
program_full_names = aps['Full name'].unique()
len(program_full_names)
# there's 148! 148x148 is too big for a matrix viz

148

In [133]:
# let's try to bring size down by isolating a single year and focusing on just Upper School
aps_2021 = aps[(aps['Acad Yr (start)'] == 2021) & (aps['Grade at Time of Activity'] >= 9)]
aps_2021

,Person ID,Gender code,Race/ethnicity,FA,Acad Yr (start),Code,Program (name),Program (Gender),Program (Level),Program (Season),Grade at Time of Activity,Grad year,Full name
34823,230853,M,European American (Caucasian),0,2021,S,Alpine Skiing,NaN,Varsity,Winter,11,2023,Varsity Alpine Skiing
34824,13426,F,European American (Caucasian),0,2021,S,Alpine Skiing,NaN,Varsity,Winter,10,2024,Varsity Alpine Skiing
34825,231431,F,European American (Caucasian),0,2021,S,Alpine Skiing,NaN,Varsity,Winter,9,2025,Varsity Alpine Skiing
34827,244182,M,European American (Caucasian),0,2021,S,Alpine Skiing,NaN,Varsity,Winter,10,2024,Varsity Alpine Skiing
34828,10529,F,European American (Caucasian),1,2021,S,Alpine Skiing,NaN,Varsity,Winter,12,2022,Varsity Alpine Skiing
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36713,10452,F,Multiracial American,0,2021,O,Yearbook,NaN,NaN,Fall,11,2023,Yearbook
36714,10452,F,Multiracial American,0,2021,O,Yearbook,NaN,NaN,Winter,11,2023,Yearbook
36715,12789,F,Asian American,0,2021,O,Yearbook,NaN,NaN,Winter,12,2022,Yearbook
36716,236717,F,Asian American,0,2021,O,Yearbook,NaN,NaN,Winter,11,2023,Yearbook
36717,234785,F,Asian American,0,2021,O,Yearbook,NaN,NaN,Winter,11,2023,Yearbook

In [134]:
program_names_2021 = aps_2021['Full name'].unique()
len(program_names_2021)     # we're down to 63 programs now!

63

In [135]:
# data wrangle - rearrange df so that each row is a unique Person ID
# and then columns are the 63 unique program_names_2021
    # 1 = enrolled
    # 0 = not enrolled
row_array = aps_2021['Person ID'].unique()

# initialize a Data Frame with all the Person ID's as first column
matrix = pd.DataFrame(row_array, columns= ["Person ID"])

# fill rest of matrix with 0's and column_titles
column_titles = program_names_2021 
for column in column_titles:
    matrix[column] = 0

matrix

,Person ID,Varsity Alpine Skiing,Boys Varsity Baseball,Boys Junior Baseball,Boys 3rd Basketball,Boys Varsity Basketball,Girls Varsity Basketball,Boys JV Basketball,Girls JV Basketball,Boys MS Basketball,...,Girls JV Tennis,Boys Varsity Tennis,Musical,Theater,Track and Field,Ultimate Frisbee,Girls Varsity Volleyball,Girls JV Volleyball,Varsity Wrestling,Yearbook
0,230853,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13426,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,231431,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,244182,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10529,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,10046,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
513,10452,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
514,234785,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
515,238567,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
516,10498,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [136]:
# Function to mark enrollments
def mark_enrollments(matrix, aps):
    for _, row in aps.iterrows():
        person_id = row['Person ID']
        program = row['Full name']
        
        # Check if the program exists in the matrix columns to avoid KeyError
        if program in matrix.columns:
            # Find the index in matrix where Person_ID matches and set the program column to 1
            matrix.loc[matrix['Person ID'] == person_id, program] = 1

In [137]:
# Call the function
mark_enrollments(matrix, aps_2021)

# Now matrix is updated with enrollments marked (a personID will have up to three 1's in their row)
matrix

,Person ID,Varsity Alpine Skiing,Boys Varsity Baseball,Boys Junior Baseball,Boys 3rd Basketball,Boys Varsity Basketball,Girls Varsity Basketball,Boys JV Basketball,Girls JV Basketball,Boys MS Basketball,...,Girls JV Tennis,Boys Varsity Tennis,Musical,Theater,Track and Field,Ultimate Frisbee,Girls Varsity Volleyball,Girls JV Volleyball,Varsity Wrestling,Yearbook
0,230853,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13426,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,231431,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,244182,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,10529,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,10046,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
513,10452,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
514,234785,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
515,238567,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
516,10498,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [138]:
# work on implementing Cramer's V test
# following code is from chatGPT 
from scipy.stats import chi2_contingency
import itertools

# Drop the 'Person ID' column to focus on program columns only
matrix = matrix.drop("Person ID", axis= 1)

def cramers_v(x, y):
    """Calculate Cramer's V statistic for two columns of a DataFrame."""
    confusion_matrix = pd.crosstab(x, y)
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    phi2_corr = max(0, phi2 - ((k-1)*(r-1))/(n-1))    
    r_corr = r - ((r-1)**2)/(n-1)
    k_corr = k - ((k-1)**2)/(n-1)
    return (phi2_corr / min((k_corr-1), (r_corr-1)))**0.5

# Generate all unique pairs of programs
program_columns = matrix.columns
pairs = list(itertools.combinations(program_columns, 2))

# Calculate Cramer's V for each pair and store the results
# could store results in a dictionary
cramers_v_results = {}
for program1, program2 in pairs:
    cv = cramers_v(matrix[program1], matrix[program2])
    cramers_v_results[(program1, program2)] = cv

# Optionally, convert the results to a DataFrame for better visualization
cramers_v_df = pd.DataFrame(list(cramers_v_results.items()), columns=['Program Pair', 'Cramers V'])
cramers_v_df

                                           Program Pair  Cramers V
0        (Varsity Alpine Skiing, Boys Varsity Baseball)   0.000000
1         (Varsity Alpine Skiing, Boys Junior Baseball)   0.000000
2          (Varsity Alpine Skiing, Boys 3rd Basketball)   0.000000
3      (Varsity Alpine Skiing, Boys Varsity Basketball)   0.000000
4     (Varsity Alpine Skiing, Girls Varsity Basketball)   0.000000
...                                                 ...        ...
1948      (Girls Varsity Volleyball, Varsity Wrestling)   0.000000
1949               (Girls Varsity Volleyball, Yearbook)   0.086011
1950           (Girls JV Volleyball, Varsity Wrestling)   0.000000
1951                    (Girls JV Volleyball, Yearbook)   0.000000
1952                      (Varsity Wrestling, Yearbook)   0.000000

[1953 rows x 2 columns]

In [ ]:
# isolate all non-zero Cramer's V values, round to 4 decimals
cramers_v_nonzero = cramers_v_df[cramers_v_df["Cramers V"] > 0]
cramers_v_nonzero.loc[:, "Cramers V"] = cramers_v_nonzero["Cramers V"].round(4)

# display top 20 correlations (1 = pure association, 0 = no association)
cramers_v_nonzero.sort_values(by= 'Cramers V', ascending= False).head(20)

                                           Program Pair  Cramers V
1868             (Student Directed Production, Theater)     0.7995
713   (Girls Varsity Crew, Strength and Conditioning...     0.4802
1177       (Boys Varsity Hockey, Boys Varsity Lacrosse)     0.3948
922   (Girls Varsity Field Hockey, Girls Varsity Hoc...     0.3888
1015     (Boys Varsity Football, Boys Varsity Lacrosse)     0.3880
79       (Boys Varsity Baseball, Boys Varsity Football)     0.3838
1867             (Student Directed Production, Musical)     0.3597
930   (Girls Varsity Field Hockey, Girls Varsity Lac...     0.3557
1925                                 (Musical, Theater)     0.3514
1140     (Girls Varsity Hockey, Girls Varsity Lacrosse)     0.3378
1539                    (Mainstage Production, Musical)     0.3330
612   (Boys Varsity Crew, Strength and Conditioning ...     0.3180
1180            (Boys Varsity Hockey, Boys JV Lacrosse)     0.2885
1254          (Girls JV Hockey, Girls Varsity Lacrosse)     0.2742
199         (Boys 3rd Basketball, Boys Junior Football)     0.2651
1770            (Girls JV Squash, Girls Varsity Tennis)     0.2635
1540                    (Mainstage Production, Theater)     0.2370
823     (Boys Varsity Cross Country, Varsity Wrestling)     0.2286
1399               (Girls JV Lacrosse, Girls JV Soccer)     0.2247
218              (Boys 3rd Basketball, Boys 3rd Soccer)     0.2201